body {
    margin: 0;
    background-color: rgb(144, 161, 144);
    font-family:  'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.container {
    background-image: url(../Images/raindrops\ -\ Copy.jpg);
    background-size: 100% 100%;
    border-radius: 30px;
    height: 80vh;
    width: 70vw;
    margin: 10vh auto;
    display: flex;
}

.image-container {
    background-color: white;
    border-radius: 30px;
    height: 80vh;
    width: 65%;
    /* opacity: 0.9; */
}

.image-container .header {
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
}

.header h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 40px 0 0 -100px;
}

.navbar {
    margin: 35px -100px 0 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    font-weight: 500;
    font-size: large;
    text-decoration: none;
    color: whitesmoke;
    padding: 12px;
}

.navbar a .home {
    color: rgb(15, 54, 8);
}

.image-container .header img {
    height: 20px;
    margin: 14px 5px 0 5px;
}

.location {
    text-align: center;
    margin: 23% auto;
    color: whitesmoke;
    opacity: 1;
} 

.location img {
    height: 30px;
    margin: 0 0 -10px -50px;
}

.location button {
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgb(2, 29, 2);
    color: whitesmoke;
    margin: 3% auto;
    padding: 7px;
    width: 12%;
    font-size: large;
}

.location button:hover {
   opacity: 0.8;
}

.location button:hover {
cursor: pointer;
}

/* input {
    padding: 12px;
    width: 50%;
    border: none;
    border-radius: 10px;
    background-color: rgb(153, 187, 153, 0.7);
    color: white;
    font-weight: 500;
    font-size: large;
    text-align: center;
}

input::placeholder {
    color: rgb(2, 29, 2);
    opacity: 0.9;
} */

.details-container {
    color: white;
}

.details-container .header{
    display: flex;
    justify-content: space-between;
    /* max-width: 20vw; */
    margin: 0 -20px 0 119px;
}

.details-container h3{
    font-weight: 400;
    font-size: 22px;
}

.city p{
    margin: 22vh 0 0 30px;
    text-align: center;
    font-size: 30px;
    /* word-break: break-all; */
    max-width: 25vw;
}

.top-card, .bottom-card {
    display: flex;
    justify-content: space-evenly;
}

.top-card .card-item, .bottom-card .card-item {
    height: 32vh;
    width: 160px;
    margin: 30px 0 10px 0; 
    background-color: rgb(247, 229, 229);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 3px grey;
}


.card-item img{
    height: 10vh;
    width: 5vw;
    margin: -20px 0 -20px 40px;
}

.card-item .p{
   font-size: small;
   font-weight: 600;
   text-align: center;
   margin: -15px;
}

.card-item h3{
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px ;
    text-align: center;
}